<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.xiaohu.car_store_backend.mapper.CarWashMapper">

    <resultMap id="BaseResultMap" type="icu.xiaohu.backend_base.model.entity.CarWash">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="customerId" column="customer_id" jdbcType="OTHER"/>
            <result property="carId" column="car_id" jdbcType="OTHER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,price,customer_id,
        car_id,remark,create_time,
        update_time
    </sql>
</mapper>
