<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.xiaohu.car_store_backend.mapper.CustomerMapper">

    <resultMap id="BaseResultMap" type="icu.xiaohu.backend_base.model.entity.Customer">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="OTHER"/>
            <result property="sex" column="sex" jdbcType="BIT"/>
            <result property="hasMarry" column="has_marry" jdbcType="BIT"/>
            <result property="phone1" column="phone1" jdbcType="VARCHAR"/>
            <result property="phone2" column="phone2" jdbcType="VARCHAR"/>
            <result property="phone3" column="phone3" jdbcType="VARCHAR"/>
            <result property="wechat" column="wechat" jdbcType="VARCHAR"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="otherContacts1" column="other_contacts1" jdbcType="VARCHAR"/>
            <result property="otherContacts2" column="other_contacts2" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="company" column="company" jdbcType="VARCHAR"/>
            <result property="companyAddress" column="company_address" jdbcType="VARCHAR"/>
            <result property="occupation" column="occupation" jdbcType="VARCHAR"/>
            <result property="salary" column="salary" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,nickname,
        age,sex,has_marry,
        phone1,phone2,phone3,
        wechat,qq,other_contacts1,
        other_contacts2,address,company,
        company_address,occupation,salary,
        remark,create_time,update_time
    </sql>
</mapper>
