<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="generator.domain.User">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="OTHER"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="wechat" column="wechat" jdbcType="VARCHAR"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="otherContacts1" column="other_contacts1" jdbcType="VARCHAR"/>
            <result property="otherContacts2" column="other_contacts2" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="post" column="post" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,login_name,password,
        name,age,phone,
        wechat,qq,other_contacts1,
        other_contacts2,address,post,
        remark,create_time,update_time
    </sql>
</mapper>
